fastapi
uvicorn[standard]
python-dotenv
python-multipart
twilio
livekit-agents
livekit-api
livekit-plugins-openai
livekit-plugins-deepgram
livekit-plugins-elevenlabs
livekit-plugins-silero
motor
pymongo
